
<launch>
    <node ns="arduino_y" 
        name="arduino_y_node" 
        pkg="rosserial_python" 
        type="serial_node.py" 
        args="_port:= /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_55737313631351F06222-if00" 
        output="screen" />
    <node ns="arduino_x" 
        name="arduino_x_node" 
        pkg="rosserial_python" 
        type="serial_node.py" 
        args="_port:= /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_55737313631351F06072-if00" 
        output="screen" />
    <node ns="arduino_z" 
        name="arduino_z_node" 
        pkg="rosserial_python" 
        type="serial_node.py" 
        args="_port:= /dev/serial/by-id/usb-Arduino__www.arduino.cc__Arduino_Mega_2560_9563431363235150D080-if00" 
        output="screen" />
    <node ns="arduino_wall" 
        name="arduino_wall_node" 
        pkg="rosserial_python"
        type="serial_node.py" 
        args="_port:= /dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_7573030313935160F170-if00" 
        output="screen" />
    <node ns="arduino_ee"
        name="arduino_ee_node" 
        pkg="rosserial_python"
        type="serial_node.py" 
        args="_port:= /dev/serial/by-id/usb-Arduino_Srl_Arduino_Uno_8553130363135131A1F1-if00" 
        output="screen" />
</launch>